<a href="https://colab.research.google.com/github/CHARAN452/Python_notes/blob/main/revision.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#what is python?
#

In [ ]:
#3types of numerical
#int          1
#float
#complex    2 + 5j

In [ ]:
print(2+5j)  #j is iota---> root-1
print(5j)
#Can we replace the "j" with any alphbets--->we canno

In [ ]:
# 1. addition-- +
# -
# *
# /
# %
print(10%2)
print(5%2)
print(10 / 2)
#why i am getting the default dtype for division is float?

In [ ]:
print(98755 % 2)
#  **  --> to the power off
print(10 ** 2)

SyntaxError: invalid syntax (<ipython-input-33-569d1d5f0e7d>, line 3)

In [ ]:
# // it ignores the values after the decimal point
#what is the difference between the floor and division?
print(10 / 3)
print(10 // 3)

3.3333333333333335
3

In [ ]:
#round() will print next upcoming value if it is a decimal number and decimal value
#is more than or equal to .5 then your getting next vale
print(round(6))
print(round(6.52))
print(round(3.3578))
print(round(3.354,2))
print(round(6.3526489,1))
#ceil:- Next upcoimng value or nearest value is known as ceil value
#The value before the decimal point isknown as floor value

In [ ]:
print(round(12354.9876,-2))
#the decimal number will become zero when you use -ve ndigits

12400.0

In [ ]:
#Types erros
#2 types
#1.syntax error:- breaking the rules of programming language
#---> single ;line comment
""" hi
good day! """

In [ ]:
#2.logical error:-  except syntax error all the erroes comes under logical erros
# ex:- attributes, name error, indentation error, recurssive

In [ ]:
#varaibles:- are containers that store data and reuse it
a = 10
b = 5

15

In [ ]:
print(a % b)

0

In [ ]:
#rules to create varible
a = "hello world!"
print(a)

In [ ]:
#2.dont start create varaibles by using number
10 = "hello"
print(10)

In [ ]:
#you cannot use the special characters
#@$%^&*
son age = 20
print(son@age)

In [ ]:
son2 = 20
print(son2)

20

In [ ]:
son_age = 20
print(son_age)

20

In [ ]:
son2 = 2
print(son)

In [ ]:
#take 3 varabile and 3 values and print in separate line
a,b,c = 10,20,30
# print(a)
# print(b)
# print(c)
print(a,b,c, sep="\n")

10
20
30

In [ ]:
#assign same value to 3 varaibles
# a = 10
# b = 10
# c = 10
a = b = c = 10
print(a,b,c, sep="\n")

In [ ]:
#input() it intakes any information or data from user and store it as a string by default
a = input()
print(a)
print(type(a))
#what is the default data type for input()?
#string

In [ ]:
b = input("eneter the number")
c = input("eneter the num")
print(b+c)
#adding two semtences is known as concatenation

eneter the number2---
eneter the num%#@
2---%#@

In [ ]:
b = float(input("eneter the number"))
c = float(input("eneter the num"))
print(b+c)

eneter the number10.5
eneter the num20.7
31.2

In [ ]:
#string:- collection of multiple characters written inside the quotes
# single line string ("") or (' ')
#multiline string (""" """) or (''' ''')
a = "Hello world!"
#[index]
print(a[1])

e

In [ ]:
print(a[6])
#[start:end] #end is always idex_position number + 1
print(a[0:5])
#print even characters from the string
print(a[0:12:2])
#odd chracters
print(a[1:12:2])

In [ ]:
print(len(a))

12

In [ ]:
print(a[0:12:3])

Hlwl

In [ ]:
#print last character
b = "Hello"
print(b[-1:-6:-2])

olH

In [ ]:
A = "hello team how are you"
print(A[:])
#[start as 0: end len(str)]
print(A[::])
#[start as 0: end len(str):step 1]
#reverse entire string
print(A[::-1])
print(A[::2])
print(A[1::2])

In [ ]:
h = "hello world!"
print(dir(h))
"""'capitalize', 'casefold', 'center', 'count', 'encode',
'endswith', 'expandtabs', 'find', 'format', 'format_map',
'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal',
'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable',
'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip',
'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace',
 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split',
  'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate',
  'upper', 'zfill' """

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [ ]:
print(h.upper())
#replace wolrd! with universe
print(h.replace("world","universe"))

HELLO WORLD!
hello universe!

In [ ]:
a = "   hello world    "
print(a.strip())
print(a.lstrip())
print(a.rstrip())

hello world
hello world
   hello world

In [ ]:
#escape characters:- backwards slash:- is used to print illegal characters
#string inside astring and you want print that string ""
print("dwayne \"The Rock\" Jhonson")

dwayne "The Rock" Jhonson

**Collections**

In [ ]:
#In the collection the the data can be stored in 2 types
#1. Heterogenous data:-  if the collection is having multiple dtypes(int,float,str..etc) inside it is known as geterogenous data
#2. Homogenous Data:-  if the collection is having single dtype(either int or float, or str) is known as homogenous data

In [ ]:
#How mant types
#1. list
#2. Tuple
#3. set
#4. Dictinary

**List**

In [ ]:
#what is list?
#list--> is odered, mutable(changable), allows the duplicate data
#How can we create a list or decalre a list
#list can be decalred by using [] each element in list is separated by [,]

*list allows the duplicate data*

In [ ]:
l1 = ["apple","banana","pineapple","orange","apple","banana"]
print(len(l1))
print(type(l1))
print(l1)

6
<class 'list'>
['apple', 'banana', 'pineapple', 'orange', 'apple', 'banana']

*list is odered*

In [ ]:
#odered means items in the list is having a sequence of index position numbers
#By using this index position number we are accessing the each item from the list
#from the above list print('pineapple')
print(l1[2])

pineapple

In [ ]:
#print the range opf item from apple to orange
print(l1[0:4])   #end has to be n+1
#Note:- silcing can be stop before one step to the eaxct end index position number

['apple', 'banana', 'pineapple', 'orange']

In [ ]:
l1 = ["apple","banana","pineapple","orange","apple","banana"]
#print the even position item from list?
print(l1[0:7:2])
print(l1[::2])
#Reverse the entire list?
print(l1[::-1])

list is mutable

  1.  swap or replace the data in existing list
  2. add new items to the list
  3. remove the items from the list

In [ ]:
#How can we swap or replace the data in existing list
#by using the index position number
l1 = ["apple","banana","pineapple","orange","apple","banana"]
#replace the 2nd apple with banana
l1[4] = "kiwi"
print(l1)

['apple', 'banana', 'pineapple', 'orange', 'kiwi', 'banana']

In [ ]:
l1[4:] = "grapes","lemmon"
l1

['apple', 'banana', 'pineapple', 'orange', 'grapes', 'lemmon']

In [ ]:
#replace 'pineapple', 'orange', with "lemon" and watermelon
l1[2:4] = "lemon","watermelon","mango"

In [ ]:
l2 = ['apple', 'banana', 'pineapple', 'orange', 'grapes', 'lemmon']
l2[2:4] = "lemon","watermelon","mango","muskmelon"
l2

['apple', 'banana', 'lemon', 'watermelon', 'mango', 'grapes', 'lemmon']

In [ ]:
l3 = ['apple', 'banana', 'pineapple', 'orange', 'grapes', 'lemmon']
l3[2:4] = "lemon","watermelon","mango","muskmelon"
l3

In [ ]:
l4 = ['apple', 'banana', 'pineapple', 'orange', 'grapes', 'lemmon']
l4[2:4] = "lemon","watermelon","mango","muskmelon"
l4

In [ ]:
#Note:- can we change the range of items in a list --> yes we can change
"""l[start_index:end_index] but this is a bad practice
if we give more than the index range items it changes or replace the items with
existing index items so the index positions of characters can be changed"""

**Adding new items to the list**

16-11-2024

In [ ]:
l5 = ['apple', 'banana', 'pineapple', 'orange', 'grapes', 'lemmon']
print(dir(l5)) #used to return method that are applicable on particular object

In [ ]:
"""'append', 'clear', 'copy', 'count', 'extend', 'index',
'insert', 'pop', 'remove', 'reverse', 'sort' """

In [ ]:
l5 = ['apple', 'banana', 'pineapple', 'orange', 'grapes', 'lemmon']
#append():- by default it adds the items at the end or last of list
#what is the default index position when you use the append()?
#add "mango" into l5
l5.append('mango')
print(l5)
#Note:- we caanot add more than one item in the append method

['apple', 'banana', 'pineapple', 'orange', 'grapes', 'lemmon', 'mango']

In [ ]:
#How to add a item at particular index position?
#insert(index,"item_name")
#add  "watermelon" at second index position
l5.insert(2,"watermelon")
print(l5)
#can we insert multiple items at a time--> No beacuse insert takes only 2 arguments

['apple', 'banana', 'watermelon', 'pineapple', 'orange', 'grapes', 'lemmon', 'mango']

In [ ]:
#Extend(collection name):-add multiple items in to list
#by default extend method add items at the end of the list
l6 = [1,2,3,4,5]
l5.extend(l6)
print(l5)

['apple', 'banana', 'watermelon', 'pineapple', 'orange', 'grapes', 'lemmon', 'mango', 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [ ]:
l5.insert(0,'berries')
print(l5)

['berries', 'berries', 'apple', 'banana', 'watermelon', 'pineapple', 'orange', 'grapes', 'lemmon', 'mango', 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [ ]:
l5[1] ="kiwi"
print(l5)

['berries', 'kiwi', 'apple', 'banana', 'watermelon', 'pineapple', 'orange', 'grapes', 'lemmon', 'mango', 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

**remove items from the lsit**

In [ ]:
l7 = ['berries', 'kiwi', 'apple', 'banana', 'watermelon', 'pineapple', 'orange', 'grapes', 'lemmon', 'mango']
#1.pop(index_position number) by default it remove last element from the list
l7.pop()
print(l7)

['berries', 'kiwi', 'apple', 'banana', 'watermelon', 'pineapple', 'orange', 'grapes', 'lemmon']

In [ ]:
l7.pop(0)
l7

In [ ]:
#remove(item name
l7.remove('watermelon')
print(l7)

['kiwi', 'apple', 'banana', 'pineapple', 'orange', 'grapes', 'lemmon']

In [ ]:
l7.remove() #list.remove() takes exactly one argument (0 given)
l7

In [ ]:
#how can remove the multiple items from the list?
# use "del collection_name[startindex:end index]
l8 = ['kiwi', 'apple', 'banana', 'pineapple', 'orange', 'grapes']
#remove "'apple', 'banana', 'pineapple'
del l8[1:4]
print(l8)
# del l8[::2] even
# del l8[1::2] odd

In [ ]:
l8 = ['kiwi', 'apple', 'banana', 'pineapple', 'orange', 'grapes']
del l8[1::2]
print(l8)

['kiwi', 'banana', 'orange']

In [ ]:
l8

['apple', 'pineapple', 'grapes']

In [ ]:
#how clear entire data from l8
l8.clear()
print(l8)

[]

In [ ]:
del l8
print(l8)

#Tuples

In [ ]:
#what is tuple?
#how can you define a tuple?
#tuples can be decalred in () each element in tuple is serated by (,)
#Tuple is defined as --> odered, immutable(unchangable), allows the duplicates

**tuple allows the duplicates**

In [ ]:
t1 = ('kiwi', 'apple', 'banana', 'pineapple', 'orange', 'grapes','kiwi','apple')
print(len(t1))
print(type(t1))

**Tuple is odered**

In [ ]:
#odered:- each element in the tuple is having sequence of index position numbers
print(t1[2])
print(t1[-1])
#'banana', 'pineapple', 'orange', 'grapes'
print(t1[2:6])
print(t1[::2])
print(t1[1::2])
#reverse t1
print(t1[::-1])

**Tuple is immuatble**

In [ ]:
#means we cannot replace, add, remove the items from the tuple
print(dir(t1))
#'count', 'index'

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

#set

In [ ]:
#what is set? and how can you define set
#set is decalred {} and elements in the set is seprated by {,}
#set is unodered, immutable, don't allow duplicates

set wont allow duplicates

In [ ]:
s1 = {1,2,3,4,5,6,7,1,2,3,4,5,9}
#what is length of s1
print(len(s1))
print(type(s1))
print(s1)

set is unordered

In [ ]:
s2={'apple',"bananan","kiwi"}
print(s2[0]) #'set' object is not subscriptable

In [ ]:
a = input()
print(a[::-1])

madam
madam

set is Immutable

1. in sets we cannot replace or swap the items but
2. we can add the new items or data to the sets
3. And we can remove the elements from the sets

**sets we cannot replace or swap the items**

In [ ]:
s2 ={"python","java","c++","c","c","c"}
print(len(s2))
s2[4] = 'R'
print(s2)
#Note:- we cannot replace the items in the set becuase sets are unordered means iteams in the set doesn't index position number

How can we can add the new items or data to the sets

In [ ]:
print(dir(s2))
"""'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection',
'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove',
'symmetric_difference', 'symmetric_difference_update', 'union', 'update' """

['__and__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']

In [ ]:
#add() in sets if we add data it doesnot have any indexposition and it can store any where in the set
s3 = {2,3,4,5,6,1,9,8,7}
s3.add(10)
print(s3)
#can we add a string into set of numbers-->yes
s3.add('hello')
print(s3)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 'hello'}

In [ ]:
s4= {"apple","banana","kiwi"}
s4.add('Cherries')
print(s4)

{'banana', 'kiwi', 'apple', 'Cherries'}

In [ ]:
#How to add the multiple items in set?
#what is the default index position when you add multiple items
#no indexposition bcz it is unordered

In [ ]:
#by using "update"
s5 ={'banana', 'kiwi', 'apple', 'Cherries'}
s6 = {1,2,3,4,5,6}
s5.update(s6)
print(s5)

{'banana', 1, 2, 3, 4, 5, 6, 'kiwi', 'apple', 'Cherries'}

How to remove the items from set?

In [ ]:
s7 = {'banana', 1, 2, 3, 4, 5, 6, 'kiwi', 'apple', 'Cherries'}
#i want to remove "4" from above set
print(s7.pop()) #pop() is a bad practice

In [ ]:
print(s7)

In [ ]:
#remove(item name)
s7.remove(4)
print(s7)

In [ ]:
s7.remove('kiwi')
print(s7)

In [ ]:
s7.discard('apple')
print(s7)

In [ ]:
#what is the dofference between "remove()" and "discard()"?
#remove() if the item or data is present then it removes otherwise it rises an error
#discard() if the items present or not it wont rise the error

In [ ]:
#can we delete the reange of items from the set---> no
#can we delete entire set---> yes
del s7
print(s7)

In [ ]:
s1 = {"a","b","c","d"}
s2 = {"d","e","f","g"}
s1.intersection(s2)

{'d'}

In [ ]:
s1.union(s2)

{'a', 'b', 'c', 'd', 'e', 'f', 'g'}

**Dictionary**

In [ ]:
#what is dictionary and how can you define it?
#how can we decalre a dictionary?
#where you can store the data in dictionary?
#dictionary can be declared {},each item is sperated {,} comma
#{key:value} pairs
#dictionary is unordered, it won't allows duplicates, mutable(changable)

In [ ]:
#dictionary won't allow the duplicates?
d1 = {
    "name":"shah",
    "age": 29,
    "mobile": 9876543210,
    "bike" : "RE",
    "education": "B.tech",
    "education": "masters"
}
print(len(d1))
print(type(d1))
print(d1)

5
<class 'dict'>
{'name': 'shah', 'age': 29, 'mobile': 9876543210, 'bike': 'RE', 'education': 'masters'}

**dictionary is unordered**

In [ ]:
d1 = {
    "name":"shah",
    "age": 29,
    "mobile": 9876543210,
    "bike" : "RE",
    "education": "B.tech",
    "education": "masters"
}
print(d1[1])  #key error

In [ ]:
#how can we access the values from dictionary
#by using key name
print(d1['bike'])
#we cannot access the range of keys

**dictionary is mutable**

In [ ]:
#1.replace the items in dictionar
d1['name'] = "shahul"
print(d1)

{'name': 'shahul', 'age': 29, 'mobile': 9876543210, 'bike': 'RE', 'education': 'masters'}

In [ ]:
d1['mobile'] = 9803287467
d1

In [ ]:
#2.add the new items to the dictionary
d1['address'] = "Hyderabad"
d1

{'name': 'shahul',
 'mobile': 9803287467,
 'bike': 'RE',
 'education': 'masters',
 'address': 'Hyderabad'}

In [ ]:
#remove the items from d1
print(dir(d1))

['__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__ior__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__ror__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [ ]:
#pop(key_name)
d1.pop('age')

In [ ]:
#clear
d1.clear()
d1

In [ ]:
del d1
d1

In [ ]:
d2 = {'name': 'shahul',
 'mobile': 9803287467,
 'bike': 'RE',
 'education': 'masters',
 'address': 'Hyderabad'}
 #from dictionary print only the keys

print(d2.keys())
print(d2.values())
print(d2.items())

dict_keys(['name', 'mobile', 'bike', 'education', 'address'])
dict_values(['shahul', 9803287467, 'RE', 'masters', 'Hyderabad'])
dict_items([('name', 'shahul'), ('mobile', 9803287467), ('bike', 'RE'), ('education', 'masters'), ('address', 'Hyderabad')])

In [ ]:
d2 = {'name': 'shahul',
 'mobile': 9803287467,
 'bike': 'RE',
'fruits':["mango","apple","kiwi"]
}
#replace "kiwi" with watermelon
d2['fruits'][2] = "watermelon"
d2

In [ ]:
#remove apple and watermelone
d2['fruits'].remove('apple')
d2

In [ ]:
d2['fruits'].pop(1)
d2

In [ ]:
d2.clear()
d2

{}

In [ ]:
del d2
d2

In [ ]:
"""list:- is a ordered, muttable, allows the duplicates-->[]
                  adding methods:- append, insert(index, itemname),extend
                  remove method :- pop(),remove, del l[:],clear
   tuple:- is  ordered, immutable, allows the duplicates-->()
   set :-->  is unordered, immutable, doesn't allow duplicates---> {}
                           adding method:- add, update
                           remove methods:- remove,discard,pop(bad practice),clear
   dictionary--> unordered, mutable, it wont allow the duplicates
              -->  key:value pairs
              -->  replace by using specific key name we can replace the items in the dictionary
              -->  adding items if you give new key name d1['new_key] = "value"
              -->  remove method:- pop(key_name), clear,popitem()"""

In [ ]:
d2 = {'name': 'shahul',
 'mobile': 9803287467,
 'bike': 'RE',
'fruits':["mango","apple","kiwi"]
}
d2.popitem()
print(d2)

{'name': 'shahul', 'mobile': 9803287467, 'bike': 'RE'}

#Functions

In [ ]:
#what is a function?
#function is a block of code which can be executed when you call it
#what is purpose of the functions?
#To avoid the duplicate codes

In [ ]:
#How to create a function?
#to create a function we use "def"-->means your defining a function
def f1():
  print("Hello i am defining a function to test it")
#How to call the function
f1()

Hello i am defining a function to test it

In [ ]:
a = "hello world"
print(a.replace('world','universe'))

hello universe

In [ ]:
def shah(name,age,education):
  print(f'Hi {name}, please check your details, age {age}, education {education}')

shah("shahul",28,"ms")

Hi shahul, please check your details, age 28, education ms

In [ ]:
#what is a parameter?
#when we are defining a funtion we are creating varaibes which are known as parameters
#what is an argument?
#when your calling a function your passing some values which are known as arguments
#Note:- when you are calling a function No. of parameters == No of arguments,
#if there is mismatch error will occurs

In [ ]:
def check_number(num):
  if num%2==0:
    print(f'given number {num} is even')
  else:
    print(f'given number {num} is odd')
a = int(input("enter the number"))
check_number(a)

In [ ]:
#CHECK THE GIVEN number is +ve or -ve or neutral
def pos_neg_neu(num = 0):
  if num>0:
    print("+ve")
  elif num == 0:
    print("neu")
  else:
    print("-ve")

a = int(input("enter the number: "))
pos_neg_neu(a)

enter the number: 789
+ve

21-11-2024

In [ ]:
#default function
#ARGS & KWARGS
#TESTCASES-->5
#LC,

**Default Function**

In [ ]:
#what is a default function?
def f1(x="No argument given"):
  print(x)
f1()
"""when you are defining the function we are creating varaibles which are known as
parameters. so, to this parameters we are assigning a value from this when you call a function
without passing an argument it excutes the function with default value we have given"""

No argument given

'when you are defining the function we are creating varaibles which are known as \nparameters. so, to this parameters we are assigning a value from this when you call a function\nwithout passing an argument it excutes the function with default value we have given'

In [ ]:
#what can i do when i dont know how many parameters do we need to pass?
def details(**name):
  print(name)

details(name="zenvius", Type = "pvt ltd", work = 'IT Training and staffing',place= 'hyderabad')

{'name': 'zenvius', 'Type': 'pvt ltd', 'work': 'IT Training and staffing', 'place': 'hyderabad'}

In [ ]:
##what can i do when i dont know how many Arguments do we need to pass?
def prog_language(*name):
  print(name)
prog_language('python','java','c++')
prog_language('python,java','c++','c','.net')

('python', 'java', 'c++')
('python,java', 'c++', 'c', '.net')

In [ ]:
""" **--> KWARGS--> Keyword arbitraray arguments-->when we dont know how many parameters do we
                                                   need to pass use KWARGS
                                                -->we can able set what of data we are passing BCZ
                                                   by default the data is stored on the form of "dictionary"
    *--> ARGS---> Arbitrary arguments-->when we dont know how many parameters do we
                                        need to pass use ARGS
                                      --> default data type for ARGS is Tuple """

**Return**

In [ ]:
#what is return?
# return keyword  returns or send back the values to the caller
# it is similiar to the print statement
# when you are using the return we need to call the function with print()

In [ ]:
def f1():
  return "hello"
print(f1())

hello

In [ ]:
#write a python function to summ all the item in a list?
list = [10,20,30,40]
#output = 20
sum = 0
for i in list:
  sum = sum + i
print(sum)

In [ ]:
def sum_items(*number):
  sum = 0
  for i in list:
    sum = sum + i
  return(sum)
print(sum_items(8,9,10,30))

In [ ]:
#write a python function that takes a list and returns a distinct values in new list
l1 =[1,2,3,3,4,5,6,1,2,3,4,9]
x = []
for i in l1:
  if i not in x:
    x.append(i)
print(x)
print(set(l1))

[1, 2, 3, 4, 5, 6, 9]
{1, 2, 3, 4, 5, 6, 9}

In [ ]:
def distinct(*l1):
  x = []
  for i in l1:
    if i not in x:
      x.append(i)
  return x
print(distinct(98,97,96,95,94,94,93,93,97))

[98]

In [ ]:
def distinct(*l1):
  x = []
  for i in l1:
    if i not in x:
      x.append(i)
  print(x)
distinct(98,97,96,95,94,94,93,93,97)

[98, 97, 96, 95, 94, 93]

In [ ]:
num = int(input("enter the number: "))
if num%2==0:
    print(f'given number {num} is even')
else:
    print(f'given number {num} is odd')

enter the number: 6789
given number 6789 is odd

In [ ]:
b = int(input())
check_number(b)

623
given number 623 is odd